/*=============== Login ===============*/
.login {
  position: relative;
  display: flex;
  height: 100vh;
}

.login-welcome {
  background: url(../../assets/img/login-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Baloo 2', cursive;
  color: white;
  font-size: var(--title-font-size);
  display: none;
  @media only screen and (min-width: 600px) {
    display: block;
  }
}

.login-welcome h3 {
  font-size: 58px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.login-container {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (min-width: 600px) {
    width: 50%;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 260px;
  text-align: center;
}

.login-header {
  margin-bottom: 2rem;
  width: 70px;
  img {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.login-header h3 {
  font-size: var(--title-font-size);
  font-weight: 500;
}

.login-row {
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-recover {
  margin-bottom: 2rem;
  text-align: right;
  width: 100%;
  display: block;
  font-size: 14px;
  color: var(--primary-text-color);
}
