.modal .modal-content {
  overflow: auto !important;
}

.check-element{
  display: grid;
  padding: 0.7em 0;
  margin: 1.4em 0;
  font-size: 0.9em;
  grid-template-columns: 1fr 8fr;
  .check-tile{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
  }
}

.check-label{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    .check-input{
      width: 50px;
      margin: 0 8px;
    }
}

.modal-child{
  padding-bottom:5em ;
}
.modal-actions{
  margin: 2em 0;
  display: flex;
  justify-content: flex-end;
  .save , .cancel{
    margin: 0 .5em;
  }
}
