.modal .modal-content {
  overflow: auto !important;
}

.check-element{
  display: grid;
  padding: 0.7em 0;
  margin: 1.4em 0;
  font-size: 0.9em;
  padding-left: 1em;
  grid-template-columns: 1fr 10fr;
  .check-tile{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
  }
  .check{
    justify-content: center;
  }
}
.check-all{
  display: flex;
  padding: 0.7em 0;
  margin: 1.4em 0 4em 0;
  font-size: 0.9em;

}
.check-select{
  display: flex;
  flex: 0 1 40%;
  margin: 0 2.5em;
}
.check-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9em;
  padding-top: 10px;
  cursor: pointer;
}
.check-label{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    .check-input{
      width: 50px;
      margin: 0 8px;
    }
}

.modal-child{
  padding-bottom:5em ;
}
.modal-actions{
  margin: 2em 0;
  display: flex;
  justify-content: flex-end;
  .save , .cancel{
    margin: 0 .5em;
  }
}
.check{
  border: 1px solid black !important;
}
