/*=============== Generate Order ===============*/
.form {
	position: relative;
}

.form-label {
	color: var(--secondary-text-color);
	font-size: var(--normal-font-size);
	margin-bottom: 2rem;
	font-weight: 600;
}

.form-container {
	overflow-y: scroll;
	max-height: 500px;
	@media only screen and (min-width: 600px) {
		overflow-y: hidden;
		max-height: 100%;
	}
}

.form-rows {
	align-items: center;
	justify-content: space-between;
	> div {
		margin-bottom: 1rem;
	}
	@media only screen and (min-width: 600px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
		margin-bottom: 1rem;
		> div {
			margin-bottom: 0rem;
		}
	}
}

.form-checkbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	> div {
		margin-bottom: 1rem;
	}
	@media only screen and (min-width: 600px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
		margin-bottom: 1rem;
		> div {
			margin-bottom: 0rem;
		}
	}
}

.form-section {
	margin-top: 2rem;
	margin-bottom: 1rem;
	@media only screen and (min-width: 600px) {
		margin-bottom: 2rem;
	}
}

.form-single {
	margin-bottom: 1rem;
}

.form-footer {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: grid;
	justify-content: space-between;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	@media only screen and (min-width: 600px) {
		margin-top: 4rem;
		grid-gap: 0;
		grid-template-columns: 100px 100px;
	}
}

.form-button-group {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	@media only screen and (min-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}
}

.search-client {
	position: relative;
	margin-bottom: 2rem;
}

.search-options {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: var(--secondary-bg-color);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	z-index: 10;
	padding: 0.5em 0;
}

.search-options li {
	list-style: none;
	font-size: 16px;
	text-transform: capitalize;
	padding: 0.5rem 1rem;
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
}
