:root {
	/*========== Colors ==========*/
	--primay-bg-color: #e8f6fc;
	--secondary-bg-color: #ffffff;
	--primary-text-color: #5fb0d9;
	--secondary-text-color: #333;
	--placeholder-color: #aed0e1;
	--primary-color: #00adc3;
	--danger-color: #f95d8f;
	--warning-color: hsl(38deg 89% 59%);
	--secondary-color: #000d27;
	--disabled-color: #ddf4ff;
	--tertiary-color: #00adc3;
	--button-color: #ffffff;
	--border-color: rgba(149, 203, 231, 0.4);
	--gray-dark-text-color: #4f4f4f;
	--gray-light-text-color: #6e6e6e;
	--gray-whitesmoke-text-color: #dddddd;
	--primary-panal-color: #ffbb00;

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;

	--biggest-font-size: 1.5rem;
	--body-font-size: 16px;
	--small-font-size: 12px;
	--normal-font-size: 14px;
	--title-font-size: 18px;
	--text-font-size: 16px;
	--icons-font-size: 22px;

	/*========== Layout ==========*/
	--sidebar-collapse-width: 80px;
	--sidebar-collapse-width-expanded: 200px;

	/*========== box shadow==========*/
	--shadow-card: 2px 3px 13px 2px #0000001a;
	/*========== color text card==========*/
	--text-secondary: #a5aab4;
}
