:root {
  /*========== Colors ==========*/
  --primay-bg-color:      #E8F6FC;
  --secondary-bg-color:   #FFFFFF;
  --primary-text-color:   #5FB0D9;
  --secondary-text-color: #21314B;
  --placeholder-color:    #AED0E1;
  --primary-color:        #FBBC04;
  --danger-color:         #F95D8F;
  --secondary-color:      #0C2556;
  --disabled-color:       #DDF4FF;
  --tertiary-color:       #00ADC3;
  --button-color:         #FFFFFF;
  --border-color: rgba(149, 203, 231, 0.4);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  --biggest-font-size:  1.5rem;
  --body-font-size:     16px;
  --small-font-size:    12px;
  --normal-font-size:   14px;
  --title-font-size:    18px;
  --text-font-size:     16px;
  --icons-font-size:    22px;

  /*========== Layout ==========*/
  --sidebar-collapse-width: 80px;
  --sidebar-collapse-width-expanded: 200px;
}
