/*=============== Google fonts ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');
/*=============== Varaibles ===============*/
@import "./variables";
/*=============== Base ===============*/
@import "./base/normalize";
@import "./base/reset";
@import "./tabs";

body {
  font-family: var(--body-font);
  color: var(--primary-text-color);
  font-size: 1rem;
}
