/*=============== Layout ===============*/
.layout {
  position: relative;
  display: flex;
}

.layout-main {
  width: 100%;
  margin-left: 80px;
}

.is-open {
  margin-left: 230px;
}

.layout-content {
  background-color: var(--primay-bg-color);
  padding: 94px 30px 60px;
  height: 100vh;
}
