.graft-group{
  margin: 2em 0;
}
.draft-day{
  color: var(--text-secondary);
}
.draft-item{
  color: var(--secondary-text-color);
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-gap: 10px;
  margin: 1em;
  padding: 1em ;
  background: var(--primay-bg-color);
  border-left: outset 4px var(--warning-color);
  .draft-title{
    display: flex;
    align-items: center;
    font-size: var(--body-font-size) !important;
    font-weight: 500;
    .icon{

      padding: 10px;
      margin: 0 10px;
      border-radius: 50%;
      background:var(--warning-color) ;
    }

  }
  .draft-content{
    color: var(--text-secondary);
    font-size: var(--normal-font-size);
  }
  .draft-actions{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    div{
      margin: 0 .5em;
    }
  }
}
