/*=============== Support ===============*/
.support {
  position: relative;
  background-color: var(--secondary-bg-color);
  padding: 2rem;
  border-radius: 5px;
}

.support-top {
  margin-bottom: 2rem;
}

.support-title {
  font-size: var(--title-font-size);
  color: var(--secondary-text-color);
  font-weight: 500;
}

.business-form {
  @media only screen and (min-width: 600px) {
    margin-left: 1rem;
  }
  h5 {
    color: var(--primary-text-color);
    font-size: var(--text-font-size);
    margin-bottom: 2rem;
  }
}

.support-column {
  display: grid;
  div {
    margin-bottom: 0.5rem;
  }
  @media only screen and (min-width: 600px) {
    grid-template-columns: 500px 500px;
    margin-bottom: 2rem;
    div {
      margin-bottom: 0;
    }
  }
}

.support-row {
  @media only screen and (min-width: 600px) {
    margin-right: 1rem;
  }
}

.support-save {
  margin-right: 1rem;
  width: 100%;
  @media only screen and (min-width: 600px) {
    width: 150px;
  }
}

