/*=============== Binnacle ===============*/
.binnacle {
  position: relative;
}

.binnacle-label {
  color: var(--primary-text-color);
  font-size: var(--text-font-size);
  margin-bottom: 2rem;
}

.binnacle-info {
  margin-bottom: 2rem;
}

.binnacle-info p {
  color: var(--secondary-text-color);
  font-size: var(--text-font-size);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.binnacle-info span {
  color: var(--primary-text-color);
  font-size: var(--normal-font-size);
}

.binnacle-property {
  position: relative;
  padding-left: 40px;
  margin-bottom: 100px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--disabled-color);
  }
}


.binnacle-item {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.binnacle-item > div {
  position: relative;
}

.binnacle-item p {
  color: var(--secondary-text-color);
  font-size: var(--text-font-size);
  font-weight: 500;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
  span {
    color: var(--primary-text-color);
    font-weight: 400;
    display: inline-block;
    font-size: var(--normal-font-size);
    margin-top: 0.5rem;
    @media only screen and (min-width: 600px) {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
}

.binnacle-mark{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: var(--disabled-color);
  position: absolute;
  left: -47px;
}


.binnacle-property li {
  font-size: var(--normal-font-size);
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 0.5rem;
  list-style: none;
}

.binnacle-footer{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-content: flex-end;
  @media only screen and (min-width: 600px) {
    grid-template-columns: 200px 200px;
  }
}

