.add-property {
	position: relative;
	background: white;
	padding: 2rem;
	border-radius: 10px;
	margin-bottom: 2rem;
}

.add-property h3 {
	color: $title-color;
	font-size: $medium-font-size;
	font-weight: 500;
	margin-bottom: 1rem;
}
