/*=============== Header ===============*/
.header {
  background: var(--secondary-bg-color);
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-color);
  line-height: 64px;
  position: fixed;
  top: 0;
  z-index: 1002;
  width: 100%;
  @media only screen and (min-width: 600px) {
    left: 80px;
    width: calc(100% - 80px);
  }
}


.header-toggle {
  width: var(--sidebar-collapse-width);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--icons-font-size);
  cursor: pointer;
  &:hover {
    color: var(--primary-color);
  }
}

.header-menu {
  padding-right: 2rem;
}

.is-open {
  left: 80px;
  width: calc(100% - 80px);
  @media only screen and (min-width: 600px) {
    left: 230px;
    width: calc(100% - 230px);
  }
}
