.details-message {
	background-color: var(--secondary-bg-color);
	padding: 2rem;
	border-radius: 5px;
  display: grid;
  grid-template-columns: 4fr 2fr;
	.title {
		font-size: var(--biggest-font-size);
		color: #1c1b1b;
		font-weight:600;
    margin-bottom: 1em;

	}
	p {
		font-size: var(--normal-font-size);
		color: var(--text-secondary);
		padding: 1em 0;
		line-height: 1.4;
	}
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.back {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto 1fr;
	color: black;
	margin: 1em 0;
	font-size: var(--title-font-size);
	font-weight: 500;
	cursor: pointer;
}


.acordion-item{
  .hidden{
    display: none;
  }
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
  .acordion-head{
    display: flex;
    font-size: 1.5em;
    margin: .5em 0;
    .acordion-title{
      margin:0 10px;
    }
  }
  .acordion-contenedor{
    padding: 1em;
    background: white;
  }
}
