.details-message {
	background-color: var(--secondary-bg-color);
	padding: 2rem;
	border-radius: 5px;
  display: grid;
  grid-template-columns: 4fr 2fr;
	.title {
		font-size: var(--biggest-font-size);
		color: #1c1b1b;
		font-weight:600;
    margin-bottom: 1em;

	}
	p {
		font-size: var(--normal-font-size);
		color: var(--text-secondary);
		padding: 1em 0;
		line-height: 1.4;
	}
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.back {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto 1fr;
	color: black;
	margin: 1em 0;
	font-size: var(--title-font-size);
	font-weight: 500;
	cursor: pointer;
}


.acordion-item{
  display: flex;
  flex-direction: column;
  border-bottom: solid #0000003b 1px;
  padding: 1em 0;
  margin: 1.5em 0;
  .hidden{
    display: none;
  }
  .acordion-head{
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    margin: .5em 0;
    align-items: center;
    .icon , .rotate{
      padding: 7px;
      background: lightgrey;
      border-radius: 50%;
      font-size: .8em;
      transition: .3s ease-in ;
    }
    .rotate{
      transform: rotate(90deg);
    }
    .acordion-title{
      margin:0 10px;
    }
  }
  .acordion-contenedor{
    padding: 1em;
    background: white;
    transition: .3s ease-in ;

  }
}
