.feature {
	display: grid;
	grid-template-rows: 1fr 2fr;
	justify-content: flex-start;
	align-items: center;
	background: var(--primay-bg-color);
	padding: 15px;
	border-radius: 15px;
	box-shadow: var(--shadow-card);
	grid-template-columns: 1fr;
	grid-gap: 10px;
	.head {
		display: flex;
		justify-content: space-between;
		.icon {
			width: 100%;
		}
	}
	.modal {
		padding: 10px 5px;
		background: white;
		display: flex;
		width: min-content;
		align-items: center;
		border-radius: 7px;
    bottom: -45px;
    position: absolute;
    box-shadow: var(--shadow-card);
    left: -100%;
    z-index: 10;
    cursor: pointer;
	}
  .button-container{
    position: relative;
  }
}
