/*=============== Add Realtors ===============*/
.form {
  position: relative;
}

.form-label {
  color: var(--secondary-text-color);
  font-size: var(--normal-font-size);
  margin-bottom: 2rem;
  font-weight: 500;
}

.form-container {
  position: relative;
}

.form-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  margin-right: -20px;
  padding-right: 20px;
  @media only screen and (min-width: 600px) {
    // overflow-y: hidden;
    // max-height: 100%;
  }
}

.form-rows {
  display: grid;
  align-items: center;
  > div {
    margin-bottom: 1rem;
  }
  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-gap: 2rem;
    margin-bottom: 1rem;
    > div {
      margin-bottom: 0rem;
    }
  }
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    margin-bottom: 1rem;
  }
  @media only screen and (min-width: 600px) {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 1rem;
    > div {
      margin-bottom: 0rem;
    }
  }
}

.form-checkbox.width-imagen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > label {
    margin-bottom: 1rem;
  }
}

.form-single {
  margin-bottom: 1rem;
  @media only screen and (min-width: 600px) {
    margin-bottom: 2rem;
  }
}

.form-section {
  margin-top: 2rem;
  margin-bottom: 1rem;
  @media only screen and (min-width: 600px) {
    margin-bottom: 2rem;
  }
}

.form-footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}

.form-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  padding-left: 1rem;
}

.form-wrapper::-webkit-scrollbar {
  background: #e0f4ff;
  padding-left: 1rem;
}

.form-wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #c2e1f2;
}
